#menu {
    padding: var(--padding) 0 0 0;
}

.menu-content {
    height: 100%;
    background-color: #fff;
    border-radius: 0 15px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: var(--padding) 0;
}

.menu-item {
    cursor: pointer;
    width: 100%;
}

.menu-item a {
    text-decoration: none;
    padding: 15px var(--padding);
    color: var(--primary);
    display: block;
    font-weight: bold;
}

.menu-item i {
    margin-right: 10px;
}

.menu-item.active {
    background-color: var(--primary);
}

.menu-item.active a {
    color: #fff;
    font-weight: bold;
}

.menu-item:not(.logout) {
    border-bottom: 1px solid #f0f0f0;
}

.menu-item.logout {
    border-top: 1px solid #f0f0f0;
}